.panel{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 468px;
    margin: 30px auto;
    margin-top: 150px;
    align-items: center;
}
.panel img{
    width: 50%;
}.panel h2{
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 4ex;
}
.panel button{
    width: 100%;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: large;
    border: 1px solid #ED5454;
}
.panel button:focus{
    background: red;
    color: white;

}
@media (max-width:786px) {
    .panel button{
        width: 50%;
    }
}